[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyter = "*"
gspread = "*"
oauth2client = "*"
gspread-dataframe = "*"
google-api-python-client = "*"

[requires]
python_version = "3.7"
